# Source Database (OLTP)
SOURCE_DB_HOST=postgres-source
SOURCE_DB_PORT=5432
SOURCE_DB_USER=user
SOURCE_DB_PASSWORD=password
SOURCE_DB_NAME=source_db

# Data Warehouse Database
DW_DB_HOST=postgres-dw
DW_DB_PORT=5432
DW_DB_USER=user
DW_DB_PASSWORD=password
DW_DB_NAME=warehouse_db

# Airflow Metadata Database
AIRFLOW_DB_HOST=postgres-airflow
AIRFLOW_DB_PORT=5432
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow

# Additional Python packages for Airflow
_PIP_ADDITIONAL_REQUIREMENTS=dbt-postgres==1.10.0 faker==39.0.0 great_expectations==1.10.0 pandas==2.3.3 psycopg2-binary==2.9.11 pyarrow==22.0.0 pytest==9.0.2 sqlalchemy==2.0.45

# Airflow Configuration
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
